<div class="row">
  <div class="col-md-3 col-sm-12">
    <ul *ngIf="categories" class="text-info" style="list-style-type:none;">
      <li [ngClass]="currentCategory==c?'active':''" class=" clickable"
          *ngFor="let c of categories._embedded.categories"
          (click)="onGetProductsByCategory(c)">
        {{c.name}}
      </li>
      <span class="fa fa-plus-circle clickable " style="color: deepskyblue" (click)="onAddNewCategory()"></span>
    </ul>
    <p></p>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="card-columns" *ngIf="currentProduct">
      <div class="card border border-0" *ngFor="let p of currentProduct._embedded.products">
        <div class="zoom">
          <img [src]="catService.host+'/photoProduct/'+p.id+'?ts='+getTS()" width="100%"
               class=" img-thumbnail rounded clickable" (click)="onGetProductDetail(p)">
        </div>
        <p></p>
        <div *ngIf="isAppManager()">
          <span class="fa fa-edit clickable" style="color: red" (click)="onEditPhoto(p)"></span>
          <span class="fa fa-trash clickable ml-2" style="color: black" (click)="onDeletePhoto(p)"></span>
          <span class="fa fa-plus clickable ml-2" style="color: darkblue" (click)="onAddNewProduct(p)"></span>
        </div>

        <div>
          <div *ngIf="idCurrentProduct==p && photoToEdit==true">
            <input *ngIf="showInputPhotoLoader" type="file" (change)="onChargePhotoSelectedToUpload($event)">
          </div>
        </div>
        <div class="card-body">
          <div>
            {{p.name}}
            <div>
        <span *ngIf="p.promotion" class="fa fa-gift mr-2" style="color: hotpink">
          <!--<img src="assets/images/promo.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
              <span *ngIf="p.newCollection" class="fa fa-tags mr-2" style="color: darkturquoise">
          <!--<img src="assets/images/favorite.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
              <span *ngIf="p.available" class="fa fa-check-square-o" style="color: green">
          <!--<img src="assets/images/available.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
              <span *ngIf="!p.available" class="fa fa-close" style="color: red">
          <!--<img src="assets/images/notAvailable.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
              <span style="color: #705eff" class="ml-2">${{p.currentPrice}}</span>
              <del *ngIf="p.price>p.currentPrice"><span style="color: red" class="ml-2">${{p.price}}</span></del>
            </div>
            <div>
              <form *ngIf="p.available" #f="ngForm" (ngSubmit)="onAddProductsToCaddy(p)">
                <div class="form-group ml-1">
                  <p>
                    <label> Qauntité : </label>
                    <input class="rounded border border-info" type="number" name="quantity" [(ngModel)]="p.quantity"
                           style="height: 20px; width: 38px" min="1" max="20">
                    <button type="submit" class=" hov fa fa-cart-plus rounded ml-1" style="color: deepskyblue"></button>
                  </p>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
