<div *ngIf="currentProduct" class="col-sm-8 justify-content-center">
  <div *ngIf="mode==0" class="card">
    <div class="card-header clearfix"> {{currentProduct.name}}
      <div>
        <span class="fa fa-edit float-right clickable ml-2" style="color: orangered" (click)="onEditProduct()"></span>
        <span class="fa fa-plus float-right clickable" style="color: dodgerblue" (click)="onAddNewProduct()"></span>
      </div>
    </div>
    <div class="card-body">
      <div>
        <img [src]="catService.host+'/photoProduct/'+currentProduct.id" width="100%">
      </div>
      <div>
        <span *ngIf="currentProduct.promotion" class="fa fa-gift mr-2" style="color: hotpink">
          <!--<img src="assets/images/promo.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
        <span *ngIf="currentProduct.newCollection" class="fa fa-tags mr-2" style="color: darkturquoise">
          <!--<img src="assets/images/favorite.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
        <span *ngIf="currentProduct.available" class="fa fa-check-square-o" style="color: green">
          <!--<img src="assets/images/available.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
        <span *ngIf="!currentProduct.available" class="fa fa-close" style="color: red">
          <!--<img src="assets/images/notAvailable.png" class="img-thumbnail rounded-circle " style="height :30px">-->
        </span>
        <span style="color: dodgerblue" class="ml-2">${{currentProduct.currentPrice}}</span>
        <del *ngIf="currentProduct.price>currentProduct.currentPrice"><span style="color: red"
                                                                            class="ml-2">${{currentProduct.price}}</span>
        </del>
      </div>
    </div>
  </div>
  <div *ngIf="mode==1" class="card-body rounded border border-info">
    <form #f="ngForm" (ngSubmit)="onUpdateProduct(f.value)">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="name" ngModel [(ngModel)]="currentProduct.name">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" type="text" name="description" ngModel
                      [(ngModel)]="currentProduct.description"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Prix actuel</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name="currentPrice" ngModel
                 [(ngModel)]="currentProduct.currentPrice">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Prix de base</label>
        <div class="col-sm-10">
          <input class="form-control" type="number" name="price" ngModel
                 [(ngModel)]="currentProduct.price">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-2">Choice</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="Promotion" ngModel
                   [(ngModel)]="currentProduct.promotion">
            <label class="form-check-label">
              Promotion
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="available" ngModel
                   [(ngModel)]="currentProduct.available">
            <label class="form-check-label">
              Available
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="selected" id="selected" ngModel
                   [(ngModel)]="currentProduct.selected">
            <label class="form-check-label" for="selected">
              Selected
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
<p></p>
